@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 240 10% 4%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 44 0% 40%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5.9% 10%;
      --radius: 1rem;
      --color-1: 0 100% 63%;
      --color-2: 270 100% 63%;
      --color-3: 210 100% 63%;
      --color-4: 195 100% 63%;
      --color-5: 90 100% 63%;
    }
    .dark {
      --background: 0 0% 9%;
      --foreground: 0 0% 100%;
      --card: 0 0% 11%;
      --card-foreground: 0 0% 100%;
      --popover: 0 0% 11%;
      --popover-foreground: 0 0% 100%;
      --primary: 0 0% 13%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 0% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 0 0% 70%;
      --muted-foreground: 0 0% 45%;
      --accent: 0 0% 17%;
      --accent-foreground: 0 0% 100%;
      --destructive: 0 84% 60%;
      --destructive-foreground: 0 0% 100%;
      --border: 0 0% 18%;
      --input: 0 0% 20%;
      --ring: 0 0% 100%;
      --color-1: 0 100% 63%;
      --color-2: 270 100% 63%;
      --color-3: 210 100% 63%;
      --color-4: 195 100% 63%;
      --color-5: 90 100% 63%;
    }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground font-sans;
    }
  }


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: #363636;
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
